<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, laudantium
    quas, reprehenderit perferendis impedit modi consectetur iusto numquam
    eligendi id nihil quisquam eaque perspiciatis. Blanditiis minima illum hic
    vitae obcaecati.
</p>
<p>
    Corrupti recusandae, nemo perferendis voluptatibus placeat, accusantium
    veniam commodi deleniti obcaecati laboriosam iusto quis. Numquam esse odio
    distinctio expedita non ducimus pariatur maxime atque cupiditate aspernatur
    odit, iusto, et tempora.
</p>
<p>
    Similique molestiae omnis quam nesciunt delectus unde dolor voluptas quos
    aliquam quas asperiores dignissimos placeat minima perferendis facere non
    necessitatibus quo, sint ab totam quis, porro mollitia. Sit, dolorum eum!
</p>
<p>
    Incidunt, provident odio hic tempora sunt obcaecati explicabo cum maiores
    qui suscipit iusto aut voluptate impedit facilis mollitia molestiae
    laudantium illo eaque similique odit necessitatibus amet earum! Vero, quam
    libero.
</p>

<button
    type="button"
    class="btn btn-primary"
    (click)="showAlert()"
    appTooltip="Show alert example"
>
    Alert
</button>
<button
    type="button"
    class="btn btn-primary"
    (click)="showConfirm()"
    appTooltip="Show confirm example"
>
    Confirm
</button>
<button
    type="button"
    class="btn btn-primary"
    (click)="showPrompt()"
    appTooltip="Show template example"
>
    Enter name
</button>

<ng-template let-close="close" #modalTemplate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Template Modal</h5>
                <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="close()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nothing to say</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="close()"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</ng-template>

<p>
    Aspernatur, officia quis officiis ipsum earum cum, velit fugit atque sed
    ullam iste commodi praesentium maxime aliquam sapiente, soluta excepturi
    quisquam suscipit itaque voluptates provident ea beatae a hic. Mollitia?
</p>
<p>
    Obcaecati possimus saepe dolores aliquam est tenetur, minima odio eos
    delectus aperiam repellat illum quos debitis quaerat expedita neque maiores
    totam amet aut. Ratione expedita esse explicabo est voluptate deleniti.
</p>
<p>
    Delectus fugiat deserunt asperiores natus tempore voluptates sequi dolorum
    incidunt commodi ipsa, quae molestiae explicabo assumenda odio quas, maxime
    perspiciatis. Quae commodi dolor facere, alias illo voluptates officia ea
    saepe?
</p>
<p>
    Aspernatur, officia quis officiis ipsum earum cum, velit fugit atque sed
    ullam iste commodi praesentium maxime aliquam sapiente, soluta excepturi
    quisquam suscipit itaque voluptates provident ea beatae a hic. Mollitia?
</p>
<p>
    Obcaecati possimus saepe dolores aliquam est tenetur, minima odio eos
    delectus aperiam repellat illum quos debitis quaerat expedita neque maiores
    totam amet aut. Ratione expedita esse explicabo est voluptate deleniti.
</p>
<p>
    Delectus fugiat deserunt asperiores natus tempore voluptates sequi dolorum
    incidunt commodi ipsa, quae molestiae explicabo assumenda odio quas, maxime
    perspiciatis. Quae commodi dolor facere, alias illo voluptates officia ea
    saepe?
</p>

<p>
    Excepturi quisquam illum minus, repellendus provident adipisci eum sit ipsa
    animi molestias aliquam possimus doloribus quod doloremque mollitia ipsam
    aliquid esse in vitae quidem magni? Officiis itaque ratione quam doloremque!
</p>
<p>
    Culpa, soluta debitis pariatur asperiores voluptate consequatur iste eaque
    labore odit quasi ducimus porro vel alias veniam fugiat corporis! Obcaecati
    earum fugit neque corporis officiis enim rerum qui sequi excepturi?
</p>
<p>
    Ipsam delectus ipsa, quidem nihil natus dolor sequi pariatur facere sed
    labore dolores quisquam temporibus deserunt voluptates, debitis id aperiam
    atque enim architecto. Illum aspernatur mollitia fugiat molestiae! Nisi,
    ratione!
</p>
<p>
    Aspernatur, officia quis officiis ipsum earum cum, velit fugit atque sed
    ullam iste commodi praesentium maxime aliquam sapiente, soluta excepturi
    quisquam suscipit itaque voluptates provident ea beatae a hic. Mollitia?
</p>
<p>
    Obcaecati possimus saepe dolores aliquam est tenetur, minima odio eos
    delectus aperiam repellat illum quos debitis quaerat expedita neque maiores
    totam amet aut. Ratione expedita esse explicabo est voluptate deleniti.
</p>
<p>
    Delectus fugiat deserunt asperiores natus tempore voluptates sequi dolorum
    incidunt commodi ipsa, quae molestiae explicabo assumenda odio quas, maxime
    perspiciatis. Quae commodi dolor facere, alias illo voluptates officia ea
    saepe?
</p>
