<div class="calculator">

    <input type="text" class="calculator-screen" [value]="currentNumber" disabled />

    <div class="memory">
        <button type="button" (click) = "clearMemory()" class="memory" value="MC">MC</button>
        <button type="button" (click) = "recallNumber()" class="memory" value="MR">MR</button>
        <button type="button" (click) = "addRecent()" class="memory" value="M+">M+</button>
        <button type="button" (click) = "subtractRecent()" class="memory" value="M-">M-</button>
        <button type="button" (click) = "saveNumber()" class="memory" value="MS">MS</button>
    </div>
  
    <div class="calculator-keys">

        <button type="button" (click) = "getPercent()" class="operator" value="%">%</button>
        <button type="button" (click) = "clearCurrent()" class="operator" value="all-clear">CE</button>
        <button type="button" (click) = "clear()" class="operator" value="clear-current">C</button>
        <button type="button" (click) = "backspace()" class="operator" value="backspace">←</button>

        <button type="button" (click) = "getFraction()" class="operator" value="1/x">⅟x</button>
        <button type="button" (click) = "getPower()"  class="operator" value="power">x²</button>
        <button type="button" (click) = "getSqrt()" class="operator" value="sqrt">²√x</button>
        <button type="button" (click) = "getOperation('/')" class="operator" value="/">&divide;</button>
  
        <button type="button" (click) = "getNumber('7')" class="number" value="7">7</button>
        <button type="button" (click) = "getNumber('8')" class="number" value="8">8</button>
        <button type="button" (click) = "getNumber('9')" class="number" value="9">9</button>
        <button type="button" (click) = "getOperation('*')" class="operator" value="*">&times;</button>
    
    
        <button type="button" (click) = "getNumber('4')" class="number" value="4">4</button>
        <button type="button" (click) = "getNumber('5')" class="number" value="5">5</button>
        <button type="button" (click) = "getNumber('6')" class="number" value="6">6</button>
        <button type="button" (click) = "getOperation('-')" class="operator" value="-">-</button>
    
    
        <button type="button" (click) = "getNumber('1')" class="number" value="1">1</button>
        <button type="button" (click) = "getNumber('2')" class="number" value="2">2</button>
        <button type="button" (click) = "getNumber('3')" class="number" value="3">3</button>
        <button type="button" (click) = "getOperation('+')" class="operator" value="+">+</button>
        
        <button type="button" (click) = "getNegated()" class="number" value="negate"><span>+/-</span></button>
        <button type="button" (click) = "getNumber('0')" class="number" value="0">0</button>

        <button type="button" (click) = "getDecimal()" class="decimal" value=".">.</button>

        <button type="button" (click) = "getOperation('=')" class="equal-sign" value="=">=</button>
  
    </div>
</div>