/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~@angular/cdk/overlay-prebuilt.css";

.custom-modal-backdrop {
    background: rgba(#000, 0.5);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success.mat-snack-bar-container{
    background-color: #00cc00;
    color:white;
}

.fail.mat-snack-bar-container{
    background-color: #cc0000;
    color:white;
}

.top.start.mat-snack-bar-container{
    animation: slide-top-start 0.5s forwards;
}

.top.center.mat-snack-bar-container{
    animation: slide-top-center 0.5s forwards;
}

.top.end.mat-snack-bar-container{
    animation: slide-top-end 0.5s forwards;
}

.bottom.start.mat-snack-bar-container{
    animation: slide-bottom-start 0.5s forwards;
}

.bottom.center.mat-snack-bar-container{
    animation: slide-bottom-center 0.5s forwards;
}

.bottom.end.mat-snack-bar-container{
    animation: slide-bottom-end 0.5s forwards;
}

@keyframes slide-top-start {
    0% {
        margin-left:-500px;
    }
    100% {
        margin-left:10px;
    }
}

@keyframes slide-top-center {
    0% {
        margin-top:-300px;
    }
    100% {
        margin-top:20px;
    }
}

@keyframes slide-top-end {
    0% {
        margin-right:-300px;
    }
    100% {
        margin-right:10px;
    }
}

@keyframes slide-bottom-start {
    0% {
        margin-left:-500px;
    }
    100% {
        margin-left:10px;
    }
}

@keyframes slide-bottom-center {
    0% {
        margin-bottom:-300px;
    }
    100% {
        margin-bottom:20px;
    }
}

@keyframes slide-bottom-end {
    0% {
        margin-right:-300px;
    }
    100% {
        margin-right:10px;
    }
}