@import '@angular/material/prebuilt-themes/indigo-pink.css';

.example-card {
    width: 100%;
  }

.example-form {
    width: 100%;
  }

.comment{
  width:  100%;
}

.container{
  padding: 5em;
}

.example-full-width {
  width: 100%;
}


.example-form {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}